*.dSYM
/background-removal/output.avi
/scale-plot/result.png
/svm-non-linear/result.png
/video-write/blue.avi
/video-write/green.avi
/video-write/red.avi
/adding-borders/borders
/affine-tranformations/affine
/alpha-blending/alpha-blend
/back-projection/back-project
/background-removal/remove-background
/basic-drawing/basic-drawing
/basic-threshold/threshold
/blinker/blink
/bounding-contours/bound
/brightness-contrast/contrast
/canny-edge-detector/canny
/cascade-body/cascade-body
/cascade-classifier/detect
/convex-hull/hull
/discrete-fourier-transform/dft
/edge-detection/sobel-scharr
/erode-dilate/erode-dilate
/file-io/store
/finding-contours/contours
/flann-matching/flann
/freak/freak
/gaussian-blur-filter/blur
/harris-corners/harris
/histogram-calculation/calculate-histogram
/histogram-comparison/compare-histogram
/histogram-equalization/equalize-histogram
/homography-perspective/detect-homography
/hough-circles/hough-circles
/hough-lines/hough-lines
/how-to-scan-images/scan-image
/image-moments/moments
/image-pyramids/pyramids
/laplace/laplace
/linear-filters/linear-filters
/load-display-image/load-display
/log-polar/log-polar
/lucas-kanade/lucas-kanade
/mat-mask-operations/mask
/mesh/mesh
/more-drawing/draw-more
/more-morphology/morphology
/remap-image/remap
/scale-plot/scale
/scrubber/scrubber
/shi-tomasi-corners/shi-tomasi-corners
/support-vector-machines/svm
/svm-non-linear/svm-nonlinear
/template-matching/match
/video-similarity/video-similarity
/video-write/video-write
